---

const response = await fetch(
	"https://uselessfacts.jsph.pl/api/v2/facts/random",
);
const data = await response.json();

import List from "../components/List.astro";
---

<h2>Random fact: {data.text}</h2>

<br>
<br>

<List/>