---
import ListItem from "./ListItem.astro";

import { createClient } from 'microcms-js-sdk';

const client = createClient({
    serviceDomain: import.meta.env.MICROCMS_SERVICE_ID,
    apiKey: import.meta.env.MICROCMS_API_KEY,
    retry: true
});

const data = await client.getList({endpoint: 'news'})
---

<h3>Get list from microCMS</h3>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {data.contents.map((item:any) => <ListItem key={item.id} item={item} />)}
    </div>
</div>
