---
import ListItem from "./ListItem.astro";
let data:any  = await new Promise((resolve, reject) => {
    fetch('https://test-giangnn.microcms.io/api/v1/news', {
        headers: {
            'X-MICROCMS-API-KEY': '87bTidxPI6zUfgFk5gEKsUGUNdRq81SjewSP'
        }
    })
        .then((res) => res.json())
        .then((d) => {
            resolve(d);
        })
});

---

<h3>Get list from microCMS</h3>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {data.contents.map((item:any) => <ListItem key={item.id} item={item} />)}
    </div>
</div>
